body{
    font-family: 'Climate Crisis', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    }
.welcome{
        text-align: center;
      }